* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  .cardsDisplay {
      display: flex;
      z-index: 10;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  
  .card {
    width: min-content;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  
  @media screen and (max-width: 800px){
    .card{
        width: 30%
      }
  
    img {
        width:100%;
    }
  }