* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif; 
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
  }

  
  
  .card {
    width: min-content;
  }

  p {
    font-size: small;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  
  @media screen and (max-width: 800px){
    .card{
        width: 120px;
      }
  
    img {
        width:100%;
    }
  }