button {
    margin-left: 20px;
}

.deck{
    margin: 20px;
    border-bottom: 1px solid black;
    padding: 5px;
}

.deckLink {

    padding: 5px;
    background: white;
}

.listOfDecks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.red{
    color: red;
}

.homeLink {
    border: 2px solid black;
    padding: 5px;
}