.deletedeck {
  height: 35px;
  width: 100%;
  font-family: 'Lora', serif;
}

.deckButtons{
    width: 95px;
    
}

.addcards{
    font-family: 'Lora', serif;
    margin-bottom: 5px;
    width: 100%;
}

.go{
    margin-left: 1px;
    padding: 3px;
    font-family: 'Lora', serif;
}

.deck{
    margin: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    font-family: 'Lora', serif;
}

h3{
    font-family: 'Rock Salt', cursive; 
}

.deckLink {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 185px;
}

Form{
    font-family: 'Lora', serif;
}

.listOfDecks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.red{
    color: red;
}

.homeLink {
    border: 2px solid black;
    padding: 5px;
}

@media screen and (max-width:357px){
    .deletedeck {
        height: fit-content;
      }
}