.deletedeck {
  height: 35px;
}

.go{
    margin-left: 1px;
    padding: 3px;
}

.deck{
    margin: 10px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.deckLink {
    padding: 0px;
    background: white;
    max-width: 185px;
}

.listOfDecks {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.red{
    color: red;
}

.homeLink {
    border: 2px solid black;
    padding: 5px;
}