.deckDetails {
    border: 1px solid black;
}

.deckDetails >span {
    font-size: small;
    border: 1px solid black;
}

.searchLink{
    background: black;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

