a{ 
    text-decoration: none;
    width: fit-content;
    color: black;
}

.navLink {
    color: white;
}

h1 {
    text-align: center;
    line-height: 100px;
   font-size: 50px;
   margin-top: 0;
   margin-bottom: 0;
}

.header-buttons > a{
    margin-right: 15px;
    border: 1px solid grey;
    padding: 5px;
    align-self: flex-end;

}

.headerbottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    background: black;
    height:fit-content;
    border: 1px solid black;
}

.utlogo {
    height: 80px;
    width: 80px;
    margin: 10px;
}