form{
    font-size: smaller;
}

.cardsDisplay {
    display: flex;
    flex-direction: row;
    z-index: 10;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

#thinking {
    height: 59px;
    width: 64px;
}