#SearchForm, .collapseSearch{
    font-size: smaller;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.cardsDisplay {
    display: flex;
    flex-direction: row;
    z-index: 10;
    justify-content: space-evenly;
    flex-wrap: wrap;   
}

#thinking {
    height: 59px;
    width: 64px;
}

.searchLabel{
    width: 100%;
    background: black;
    color: white;
    padding: 3px;
    margin-top: 5px;
}

.variablep_t{
    float: left;
}

.p_t{
    width: 80%;
    
}

form input[type='radio'] {
    float: left;
    width: 30px;
    margin-left: 30px;
    
}

form input[type='number']{
    float: left;
}

.selectStyle{
    width: 80%;
    margin-top: 5px;
}

.formbutton{
    width: 100px;
}

.hidden {
    display: none;
}

@media screen and (min-width: 500px){
    #SearchForm,  .collapseSearch{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}